* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
  outline: none;
}
html, body {
  -webkit-tap-highlight-color: transparent;
  background: rgb(180, 199, 255);
  margin: 0;
  font-weight: 400;
  font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  padding: .5em;
}
aside {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  box-shadow: rgba(0,0,0,.15) 5px 10px 30px;
  padding: 1em;
  border-radius: 10px;
}
h1 {
  text-align: center;
  margin: .5em 0 .25em 0;
  font-size: 30pt;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -.02em;
  font-family: 'Fira Sans', 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
    font-family: 'Playfair Display', 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
    font-style: italic;
}
label .spi {
  display: block;
  padding: 1em;
  margin: 10pt;
  cursor: pointer;
  position: relative;
  padding-left: 2em;
  box-shadow: 5px 2px 5px 2px #e2e0e0;
  border-radius: inherit;
}
label .spi:last-of-type {
  margin-bottom: 0;
}
[type=checkbox] {
  display: none;
}
[type=text],
[type=button] {
  -webkit-appearance: none;
  appearance: none;
  font-weight: 400;
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  width: calc(100% - 3em);
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  padding: .5em .6em;
  font-size: 14pt;
  border: none;
  border-bottom: 1px solid currentcolor;
  background: white;
  border-radius: 0;
}
[type=button] {
  width: 2em;
  margin-left: 1em;
  border: none;
}
div {
  opacity: .9;
  margin-top: 1em;
}
input:checked + span {
  opacity: .3;
  text-decoration: line-through;
}
span {
  font-size: 14pt;
  line-height: 1.3;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}
span:before {
  content: '\f372';
  font-family: 'ionicons';
  position: absolute;
  top: 12pt;
  left: 8pt;
  font-size: 18pt;
  line-height: 1;
}
input:checked + span:before {
  content: '\f373';
}


@media (min-width: 600px) {
  aside {
    margin: 2em auto;
    padding: 1em 2em;
  }
  label .spi {
    padding-left: 3em;
  }
  h1 {
  font-size: 40pt;
  }
  span {
    font-size: 18pt;
  }
  span:before {
    top: 12pt;
    font-size: 24pt;
  }
}